# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/

# PyInstaller
*.spec
*.pkg
*.pyz
*.toc
*.pyc
localpycs/
warn-*.txt
xref-*.html
base_library.zip

# UPX
upx.zip
upx-4.2.2-win64/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Build files
take_point_from_picture/exe/build/
